/* CSS Reset */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(260, 100%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Barlow Semi Condensed";
}

main {
  padding-top: 4.5625rem;
  padding-bottom: 4.5625rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: auto;
  width: min(100%, 305px);
}

.card {
  height: auto;
  width: min(100%, 305px);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 8px;
}

.card-purple {
  background-color: #733fc8;
}

.card-grey {
  background-color: #48556a;
}

.card-white-1 {
  background-color: white;
}

.card-dark-blue {
  background-color: #19202d;
}

.card-white-2 {
  background-color: white;
}

.image {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.image-1 {
  background-image: url("../images/image-daniel.jpg");
  border: 2px solid #a775f1;
}

.image-2 {
  background-image: url("../images/image-jonathan.jpg");
}

.image-3 {
  background-image: url("../images/image-jeanette.jpg");
}

.image-4 {
  background-image: url("../images/image-patrick.jpg");
  border: 2px solid #a775f1;
}

.image-5 {
  background-image: url("../images/image-kira.jpg");
}

.author {
  display: flex;
  flex-direction: row;
  gap: 1.0625rem;
  align-items: center;
}

.author-info {
  line-height: 110%;
  font-weight: 500;
}

h1 {
  font-size: 0.8125rem;
  line-height: 110%;
}

.author-card-purple {
  color: white;
}

.author-card-grey {
  color: white;
}

.author-card-white-1 {
  color: #48556a;
}

.author-card-dark-blue {
  color: white;
}

.author-card-white-2 {
  color: #48556a;
}

h2 {
  font-size: 0.6875rem;
  line-height: 110%;
}

.info-card-purple {
  color: #ede4ff;
}

.info-card-grey {
  color: #a3aab4;
}

.info-card-white-1 {
  color: #676d7e;
}

.info-card-dark-blue {
  color: white;
}

.info-card-white-2 {
  color: #a3aab4;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 120%;
}

.card-purple-h3 {
  color: white;
}

.card-grey-h3 {
  color: white;
}

.card-white-1-h3 {
  color: #48556a;
}

.card-dark-blue-h3 {
  color: #cfcfcf;
}

.card-white-2-h3 {
  color: #48556a;
}

p {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 140%;
}

.card-purple-p {
  color: #ede4ff;
}

.card-grey-p {
  color: #e7eaee;
}

.card-white-1-p {
  color: #676d7e;
}

.card-dark-blue-p {
  color: #e7eaee;
}

.card-white-2-p {
  color: #676d7e;
}

.attribution {
  display: none;
}
